.mat-display-4 {
  margin: 0px 0px 0px 0px
}

.mat-display-3 {
  margin: 0px 0px 0px 0px
}

.mat-display-2 {
  margin: 0px 0px 0px 0px
}

.mat-display-1 {
  margin: 0px 0px 0px 0px
}

.mat-headline {
  margin: 0px 0px 0px 0px
}

.mat-title {
  margin: 0px 0px 0px 0px
}

.mat-subheading-2 {
  margin: 0px 0px 0px 0px
}

.mat-subheading-1 {
  margin: 0px 0px 0px 0px
}

.control-padding {
  padding-bottom: 15px;
}

.icon2times-label {
  cursor: pointer;
  color: rgb(72,72,72);
  margin-top: 13px;
  transform: scale(1.3);
}

.icon2times-label-start {
  cursor: pointer;
  color: rgb(72,72,72);
  margin-top: 13px;
  margin-right: 20px;
  transform: scale(1.3);
}

.icon2times-label-end {
  cursor: move;
  color: rgb(72,72,72);
  margin-top: 13px;
  transform: scale(1.3);
}

.setting-label-padding {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}