.home {
  background: #fafafa;
}

.custom {
  height: 130px;
  width: 130px;
  margin-bottom: 30px;
 }

.custom.mat-card {
  height: 130px;
  width: 130px;
  margin-bottom: 30px;
 }

.card-icon {
  color: white;
  font-size: 30px;
}

.card-icon-bg {
  color: white;
  font-size: 40px;
}

.card-icon-add {
  margin-left: 18px;
  color: white;
  font-size: 115px;
}

.px12 {
  margin-bottom: 12px;
}

.publish {
  margin-top: 9px;
  margin-bottom: 5px;
  color: white;
  font-size: 12px;
}

.form-title {
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: 300;
  font-stretch: normal;
  font-size: 12px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: white;
  text-align: center;
  margin-bottom: 9px;
}

.add-padding {
  margin-bottom: 20px;
}

.form-container {
  width: 200px;
  max-width: 100%;
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
  vertical-align: top;
}

.container-padding {
  margin: 30px;
}

.white-lb {
  color: white;
}

.line-padding {
  padding-top: 6px;
  padding-bottom: 10px;
}

.action-label {
  padding-left: 5px;
  padding-top: 7px;
  font-size: 10px;
  color: white;
}

.action-label-bg {
  font-size: 14px;
  color: white;
}

.action-label-data {
  // padding-top: 14px;
  font-size: 10px;
  color: white;
}

.action-label-api {
  // padding-left: 9px;
  // padding-top: 14px;
  font-size: 10px;
  color: white;
}

.action-label-pub {
  padding-bottom: 7px;
  font-size: 10px;
  color: white;
}

.drop3px {
  margin-top: 3px;
}
.custom-background {
  background-color: #FFCF9E;
}

.responsive-container {
  padding-left: 30px;
}
 
.toprow {
  display: inline;
}

.right20 {
  margin-left: 43px;
}

.right10 {
  margin-left: 38px;
}

.export-label {
  margin-top: -6px;
  margin-left: -6px;
}

.data-label {
  margin-top: -6px;
}

.api-label {
  margin-top: -3px;
  margin-left: 3px;
}

.import-label {
  margin-top: -6px;
  margin-left: -6px;
}

.left20 {
  margin-left: 15px;
  margin-bottom: 6px;
}

.padding {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}