<mat-toolbar style="height:80px;">
  <div fxLayout="row" fxLayoutAlign="center center">
    <a href="https://formloco.com">
      <img *ngIf="appService.isDarkMode" src="assets/logo/logo-light.png" height="60">
      <img *ngIf="!appService.isDarkMode" src="assets/logo/logo-dark.png" height="60">
    </a>
  </div>
  <span class="spacer"></span>
  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="end center">
    <a mat-stroked-button class="menu-label" href="https://github.com/formloco" target="blank">
      <img class="filterIcon" src="assets/logo/GitHub_Logo.png" height="20">
    </a>
    <a mat-stroked-button class="menu-label" href="https://github.com/formloco/formloco/wiki" target="blank">
      <img class="filterIcon" src="assets/logo/GitHub-Mark-32px.png" height="20">&nbsp;&nbsp;&nbsp;Docs
    </a>
    <button mat-stroked-button class="menu-label" (click)="api()">
      <mat-icon>api</mat-icon>&nbsp;&nbsp;API
    </button>
    <button *ngIf="userName" mat-stroked-button class="menu-label" (click)="copyToken()">
      <mat-icon>vpn_key</mat-icon>&nbsp;&nbsp;Token
    </button>
    <button *ngIf="userName" (click)="openProfile()" mat-stroked-button matTooltip="Profile" [ngClass]="(isSelected === true ? 'menu-label-selected':'menu-label')">
      <mat-icon>person</mat-icon>&nbsp;&nbsp;{{ userName }}
    </button>
    <div fxLayoutAlign="center center">
      <mat-slide-toggle [checked]="appService.isDarkMode" color="warn" (click)="toggleTheme($event)"></mat-slide-toggle>&nbsp;
      <div class="menu-label" fxLayoutAlign="center center">
        <mat-icon *ngIf="!appService.isDarkMode">mode_night</mat-icon>
        <mat-icon *ngIf="appService.isDarkMode">wb_sunny</mat-icon>
      </div>
    </div>
    <button class="green" *ngIf="!appService.authProvider" (click)="signin()" mat-flat-button>Sign In</button>
    <button class="green" *ngIf="appService.authProvider" (click)="signout()" mat-flat-button color="light-green">Sign Out</button>
  </div>
</mat-toolbar>