<div class="row-margin" fxLayout="row wrap">
  <mat-card class="icon-pointer custom" (click)="newForm()">
    <mat-icon class="card-icon-add">control_point</mat-icon>
    <div class="form-title-bg">
      Create Form
    </div>
  </mat-card>
  <div *ngFor="let formObj of appService.forms; let i=index">
    <mat-card class="custom" *ngIf="i !== 0 && formObj.form !== undefined && formObj.form.is_list === undefined && formObj.type === 'dynamic'">
      <div fxLayout="row" class="form-title" fxLayoutAlign="space-between center">
        <a mat-button matTooltip="{{formObj.name}}">{{formObj.name | truncate:[13, '...']}}</a>
        <div>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="formAdminService.copyUrl('preview',formObj)">
              <span>Preview Link</span>
            </button>
            <button mat-menu-item (click)=formAdminService.exportJSON()>
              <span>Save As Template</span>
            </button>
            <button mat-menu-item (click)=formAdminService.archive()>
              <span>Archive</span>
            </button>
            <span *ngIf="!builderService.is_data">
              <mat-divider></mat-divider>
              <button mat-menu-item color="warn" (click)=formAdminService.delete(formObj)>
                <span>Delete</span>
              </button>
            </span>
          </mat-menu>
        </div>
      </div>

      <!-- <div [ngClass]="(formObj.name.length < 24 ? 'add-padding':'')" fxLayout="row wrap" class="form-title" fxLayoutAlign="center center">
        {{formObj.name | truncate:[28, '...']}}
      </div> -->
      <div fxLayout="row" fxLayoutAlign="center center">
        <div class="icon-pointer" (click)="run(formObj)" fxLayout="column" fxFlex="33" fxLayoutAlign="center center">
          <mat-icon *ngIf="formObj.form.is_list" class="card-icon">pageview</mat-icon>
          <mat-icon *ngIf="!formObj.form.is_list" class="card-icon">dynamic_form</mat-icon>
          <span class="action-label">Launch</span>
        </div>
        <div fxLayout="column" fxFlex="33" fxLayoutAlign="center center">
          <div class="publish" fxLayoutAlign="center center">
            <mat-slide-toggle (change)="publish(formObj, $event)" color="warn" [(ngModel)]=formObj.is_published>
            </mat-slide-toggle>
          </div>
          <span class="action-label-pub" *ngIf="formObj.is_published">Published</span>
          <span class="action-label-pub" *ngIf="!formObj.is_published">Publish</span>
        </div>
        <div class="icon-pointer" (click)="share(formObj)" fxLayout="column" fxFlex="33" fxLayoutAlign="center center">
          <mat-icon class="card-icon">share</mat-icon>
          <span class="action-label">Share</span>
        </div>
      </div>
      <div fxLayout="row">
        <div class="icon-pointer" (click)="edit(formObj)" fxLayout="column" fxFlex="33" fxLayoutAlign="center center">
          <mat-icon class="card-icon">create</mat-icon>
          <span class="action-label">Edit</span>
        </div>
        <div (click)=openLinkOverlay(formObj,i) class="icon-pointer" fxLayout="column" fxFlex="30" fxLayoutAlign="center center">
          <span mat-icon-button cdkOverlayOrigin #trigger="cdkOverlayOrigin">
            <mat-icon class="card-icon">link</mat-icon>
          </span>
          <span class="link-label">Link</span>
        </div>
        <div class="icon-pointer" (click)="openData(formObj)" fxLayout="column" fxFlex="33" fxLayoutAlign="center center">
          <mat-icon class="card-icon">storage</mat-icon>
          <span class="action-label-data">Data</span>
        </div>
      </div>
      <ng-template *ngIf="selectedIndex === i" cdkConnectedOverlay (backdropClick)="closeOverlay()" [cdkConnectedOverlayOrigin]="trigger"
        [cdkConnectedOverlayOpen]="isLinkSelect" [cdkConnectedOverlayHasBackdrop]=true cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
        [cdkConnectedOverlayOffsetX]="xAxis" [cdkConnectedOverlayOffsetY]="yAxis">
        <div [ngStyle]="{'background-color': appService.canvasBackground}" class="link-overlay text-color">
          <div class="add-padding">PIN:&nbsp;{{pin}}</div>
          <div class="mat-caption">
            <mat-checkbox color="warn" (click)=usePIN(formObj) [(ngModel)]="isPin">Use PIN</mat-checkbox>
          </div>
          <button (click)="formAdminService.copyUrl('link', formObj)" mat-button color="primary">Copy Link</button>
        </div>
      </ng-template>
    </mat-card>
  </div>
</div>