.custom.mat-card {
  height: 133px;
  width: 133px;
  padding: 3px;
  margin: 9px;
  background-color: #40b2e9;
}

 .row-margin {
  margin: 12px 12px 12px 12px;
}

.container-margin {
  padding: 12px;
}

.card-icon {
  color: white;
  font-size: 30px;
}

.card-icon-add {
  margin-left: 18px;
  color: white;
  font-size: 115px;
}

.px12 {
  margin-bottom: 12px;
}

.publish {
  margin-left: 5px;
  margin-top: 9px;
  margin-bottom: 5px;
  color: white;
  font-size: 12px;
}

.form-title {
  padding-top: 3px;
  padding-left: 3px;
  height: 25px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: white;
}

.form-title-bg {
  padding-left: 13px;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: 400;
  font-stretch: normal;
  font-size: 22px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: white;
}

.white-lb {
  color: white;
}

.line-padding {
  padding-top: 6px;
  padding-bottom: 10px;
}

.action-label {
  padding-top: 7px;
  font-size: 10px;
  color: white;
}

.link-label {
  margin-top: -3px;
  padding-left: 6px;
  font-size: 10px;
  color: white;
}

.action-label-data {
  padding-top: 7px;
  font-size: 10px;
  color: white;
  padding-left: 4px;
}

.action-label-pub {
  padding-bottom: 7px;
  font-size: 10px;
  color: white;
}

.link-overlay {
  text-align: center;
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 20px;
  min-width: 140px;
}

.drop3px {
  margin-top: 3px;
}

.responsive-container {
  padding-left: 30px;
}
 
.topright {
  position: absolute;
  top: 6px;
  right: 6px;
}

.add-padding {
  margin-bottom: 12px;
}