.icon2times-label-start {
  cursor: pointer;
  margin-right: 20px;
  transform: scale(1.3);
}

.icon2times-label-end {
  cursor: move;
  transform: scale(1.3);
}

.setting-label-padding {
  padding-right: 20px;
}

.connector-title {
  display: flex;
  flex-direction: row;
  align-items: left;
  font-size: 20px;
}

.lookup-title {
  padding-top: 12px;
  display: flex;
  flex-direction: row;
  align-items: left;
  font-size: 20px;
  padding-bottom: 9px;
}

.top6 {
  padding-top: 6px;
}

.right9 {
  padding-right: 9px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex: auto;
  align-items: center;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.hand {
  cursor: pointer;
}

.menu-label {
  color: #959595;
}