<div class="setting-padding" fxLayout="row" fxLayoutAlign="space-between center">
  <mat-icon *ngIf="builderService.showControls"  class="icon2times-start" (click)="builderService.deleteControl(index)">close</mat-icon>
  <div fxLayout="column" fxFlex>
    <div class="label-padding">
      <label>
        {{builderService.canvasFormControls.details[this.index].label}}
      </label>
    </div>
    <div fxLayoutGap="20px">
      <mat-radio-group fxLayoutGap="20px">
        <mat-radio-button *ngFor="let radio of builderService.canvasFormControls.details[this.index].radioArray" [labelPosition]="radio.labelPosition"
          [value]="radio.value" [required]="builderService.canvasFormControls.details[this.index].required">
          {{radio.label}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <div fxLayoutGap="40px">
    <mat-icon class="icon2times" (click)="builderService.selectDetails(index)">settings</mat-icon>
    <mat-icon *ngIf="builderService.showControls" class="icon2times-end">drag_indicator</mat-icon>
  </div>
</div>