.data-table-container {
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

table {
  width: 100%;
}

.thumbnail {
  width: 60px;
}

.file-list {
  width: 90px;
}

.padding-top {
  padding-top: 10px;
}

.thumbnail-icon {
  font-size: 50px;
  padding-left: 20px;
}

.header-wht {
  color: white;
}