.member-padding {
  padding-bottom: 20px;
}

.share-container {
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.padding {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}