DEV_DBUSER=dbuser
DEV_HOST="dev.host.somewhere.com"
DEV_PASSWORD=password
DEV_PORT=5432
DEV_SECRET=secret
DEV_SWAGGER_SERVER="https://yourdomain.com/api"

PROD_DBUSER=doadmin
PROD_HOST="prod.host.somewhere.com"
PROD_PASSWORD=password
PROD_PORT=5432
PROD_SECRET=secret
PROD_SWAGGER_SERVER="https://yourdomain.com/api"

MAILGUN_KEY="key-mail-gun"
MAILGUN_DOMAIN="mg.yourdomain.com"