// .icon2times {
//   cursor: pointer;
//   color: rgb(72,72,72);
//   margin-right: 40px;
//   transform: scale(1.3);
// }

// .icon2times-start {
//   cursor: pointer;
//   color: rgb(72,72,72);
//   padding-top: 13px;
//   padding-left: 20px;
//   padding-right: 20px;
//   transform: scale(1.3);
// }

// .icon2times-end {
//   cursor: move;
//   color: rgb(72,72,72);
//   padding-top: 13px;
//   padding-right: 30px;
//   transform: scale(1.3);
// }

.label-padding {
  padding-top: 10px;
  padding-bottom: 10px;
}

.setting-padding {
  padding-bottom: 20px;
}
