<div fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="space-between">
    <div class="mat-headline">Enter PIN</div>
  </div>
  <form [formGroup]="pinForm">
    <div fxLayout="column">
      <mat-form-field appearance="outline" fxFlex>
        <mat-label>PIN</mat-label>
        <input matInput placeholder="Enter PIN" formControlName="pin" type="text" required>
        <mat-error>
          PIN is required!
        </mat-error>
      </mat-form-field>
    </div>
    <div mat-dialog-actions fxLayoutAlign="center" style="margin-bottom: -14px !important;" fxLayout="row" fxLayoutGap="1rem">
      <button (click)="checkPIN()" mat-raised-button color="primary" [disabled]="!pinForm.valid">
        OK
      </button>
    </div>
  </form>
</div>