.icon2times {
  margin-top: -15px;
  cursor: move;
  color: rgb(72,72,72);
  transform: scale(1.3);
}

.setting-fileupload-padding {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.setting-dropzone-padding {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}