<div #canvas fxLayout="row" fxFlex>
  <div fxLayout="column" fxFlex>
    <form [formGroup]="canvasForm">
      <div fxLayout="row" class="name-title" fxLayoutAlign="space-between center">
        <mat-form-field *ngIf="builderService.showControls" fxFlex="40">
          <mat-label>Form Name</mat-label>
          <input matInput placeholder="Form Name" formControlName="name" type="text">
          <mat-error>
            Form name is required.
          </mat-error>
        </mat-form-field>
        <div *ngIf="!builderService.showControls" fxFlex="40">
          <h2>{{builderService.canvasFormControls.name}}</h2>
        </div>
        <div fxLayoutGap="10px" fxLayoutAlign="end center" fxFlex>
          <button mat-stroked-button color="warn" (click)="close()">
            Close
          </button>
          <button *ngIf="builderService.showControls && !builderService.isPreview" mat-stroked-button color="primary" (click)=save()
            [disabled]="!canvasForm.valid">
            Save
          </button>
          <button *ngIf="builderService.showControls && builderService.isPreview" mat-stroked-button color="primary" (click)=savePreview()
            [disabled]="!canvasForm.valid">
            Save
          </button>
          <span *ngIf="builderService.formObj" fxLayoutGap="10px">
            <button mat-stroked-button color="primary" (click)="copyUrl('preview')">
              <mat-icon class="card-icon">link</mat-icon>
              Preview
            </button>
            <button mat-stroked-button color="primary" (click)="copyUrl('link')">
              <mat-icon class="card-icon">link</mat-icon>
              link
            </button>
            <button mat-stroked-button color="primary" (click)="run()">
              <mat-icon class="card-icon">dynamic_form</mat-icon>
              Launch
            </button>
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)=saveas()>
                <span>Save As</span>
              </button>
              <button mat-menu-item (click)=exportJSON()>
                <span>Save As Template</span>
              </button>
              <button mat-menu-item (click)=archive()>
                <span>Archive</span>
              </button>
              <span *ngIf="!builderService.formObj.is_data">
                <mat-divider></mat-divider>
                <button mat-menu-item color="warn" (click)=delete()>
                  <span>Delete</span>
                </button>
              </span>
            </mat-menu>
          </span>
        </div>
      </div>
    </form>
    <mat-accordion *ngIf="isEmbeddedCode" class="name-title">
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            HTML embedded launch code
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field class="example-full-width" fxFlex>
          <textarea matInput readonly=true>{{embeddedCode}}</textarea>
        </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion>
    <br>
    <div class="canvas-list" cdkDropList id="{{canvasFormControl.name}}"
      [cdkDropListData]="canvasFormControl.controls" 
      [cdkDropListConnectedTo]="dropForm" 
      (cdkDropListDropped)="drop($event)">
      <div cdkDrag (click)=selectControl(i) 
        [cdkDragDisabled]="(builderService.currentQilllIndex === i ? builderService.isDrag: false)"
        [ngClass]="(builderService.currentIndex === i ? 'seleted-box':'unseleted-box')" 
        *ngFor="let control of canvasFormControl.controls; let i=index">
        <div [ngSwitch]="control.type">
          <app-gps *ngSwitchCase="'GPS'" [index]=i></app-gps>
          <app-label *ngSwitchCase="'Label'" [index]=i></app-label>
          <app-radio *ngSwitchCase="'Radio'" [index]=i></app-radio>
          <app-slider *ngSwitchCase="'Slider'" [index]=i></app-slider>
          <app-toggle *ngSwitchCase="'Toggle'" [index]=i></app-toggle>
          <app-quill *ngSwitchCase="'Editor'" (toggleDragDisable)="toggleDragDisable()" [index]=i></app-quill>
          <app-textbox *ngSwitchCase="'Textbox'" [index]=i></app-textbox>
          <app-textarea *ngSwitchCase="'Textarea'" [index]=i></app-textarea>
          <app-checkbox *ngSwitchCase="'Checkbox'" [index]=i></app-checkbox>
          <app-select *ngSwitchCase="'Select'" [index]=i></app-select>
          <app-select-multi *ngSwitchCase="'SelectMulti'" [index]=i></app-select-multi>
          <app-fileupload *ngSwitchCase="'File Upload'" [index]=i></app-fileupload>
          <app-qrcode *ngSwitchCase="'QRCode'" [index]=i></app-qrcode>
          <app-barcode *ngSwitchCase="'BarCode'" [index]=i></app-barcode>
          <app-scanner-barcode *ngSwitchCase="'BarCodeScanner'" [index]=i></app-scanner-barcode>
          <app-scanner-qrcode *ngSwitchCase="'QRCodeScanner'" [index]=i></app-scanner-qrcode>
          <app-connector *ngSwitchCase="'Connector'" [index]=i [connectorLabel]=control.label></app-connector>
          <app-micro-app *ngSwitchCase="'MicroApp'" [index]=i [microAppLabel]=control.label></app-micro-app>
        </div>
      </div>
    </div>
  </div>
</div>