<div fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="space-between">
    <div class="mat-headline">{{data.title}}</div>
    <div class="edit-buttons icon-pointer" (click)="dialogRef.close()">
      <mat-icon>close</mat-icon>
    </div>
  </div>
  <img src="assets/logo/parrot-sitting.svg" height="100">
  <form>
    <div fxLayoutAlign="center">       
      <div class="">{{data.message}}</div>
    </div>
    <br>
    <div mat-dialog-actions fxLayoutAlign="center" style="margin-bottom: -14px !important;" fxLayout="row" fxLayoutGap="1rem">
      <button mat-stroked-button color="primary" (click)="dialogRef.close()">OK </button>
    </div>
  </form>
</div>
