.padding10 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.mat-flat-button.mat-orange{
  background-color:#FFB45E;
  color: white;
}

.form-padding {
  padding: 20px 30px 20px 30px;
  width: 420px;
}