<div fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="end center">
    <div class="edit-buttons icon-pointer" (click)="dialogRef.close()">
      <mat-icon>close</mat-icon>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center">
    <img *ngIf="!appService.isDarkMode" src="assets/logo/formlocologo.svg">
    <img *ngIf="appService.isDarkMode" src="assets/logo/formlocologo-white.svg">
  </div>
  <!-- <div fxLayout="row" fxLayoutAlign="center"><h2>Reset Password</h2></div> -->
  <div fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="row" fxLayoutAlign="center">
      <h3>{{data.email}}</h3>
    </div>
    <form [formGroup]="passwordForm">
      <div fxLayout="column" class="form-padding" fxLayoutGap="30px">
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
          <mat-icon class="hand" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-hint>Enter your new password</mat-hint>
        </mat-form-field>
        <button (click)="resetPassword()" mat-flat-button color="orange">
          Reset Password
        </button>
      </div>
    </form>
  </div>
</div>