<div class="connector-setting-padding" fxLayout="row" fxLayoutAlign="space-between center">
  <mat-icon *ngIf="builderService.showControls" class="icon2times-label-start" (click)="builderService.deleteControl(index)">close</mat-icon>
  <div fxLayout="column" fxFlex>
    <div class="connector-title">
      <img src="assets/logo/barcode.png" height="26">&nbsp;&nbsp;Bar Code Scanner
    </div>
  </div>
  <div fxLayoutGap="40px">
    <mat-icon *ngIf="builderService.showControls" class="icon2times-label-end">drag_indicator</mat-icon>
  </div>
</div>
<!-- 


<div class="setting-padding" fxLayout="row" fxLayoutAlign="start center">
  <mat-icon *ngIf="builderService.showControls" class="icon2times-start" (click)="builderService.deleteControl(index)">close</mat-icon>
  <div fxLayoutAlign="start center" fxFlex="40px">
    <zxing-scanner [formats]="allowedFormats"></zxing-scanner>
  </div>
  <div class="padding-left-40" fxLayoutGap="40px">
    <mat-icon *ngIf="builderService.showControls" class="icon2times-end">drag_indicator</mat-icon>
  </div>
</div> -->