<div [formGroup]="runForm" class="control-padding">
  <mat-form-field appearance="{{builderService.detailArray[index].appearance}}" fxFlex> 
    <mat-label>{{builderService.detailArray[index].label}}</mat-label>
    <input matInput [type]="builderService.detailArray[index].types"
           formControlName="{{builderService.detailArray[index].formControlName}}"
           [placeholder]="builderService.detailArray[index].placeholder" 
           [required]="builderService.detailArray[index].required">
    <mat-error>
      {{builderService.detailArray[index].error}}
    </mat-error>
  </mat-form-field>
</div>