.icon2times-quill {
  cursor: pointer;
  color: rgb(72,72,72);
  margin-right: 20px;
  margin-top: 5px;
  transform: scale(1.3);
}

.icon2times-quill-end {
  cursor: pointer;
  color: rgb(72,72,72);
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
  transform: scale(1.3);
}

.setting-padding {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.extra-padding-left {
  padding-left: 20px;
}


.setting-label-padding {
  padding-right: 20px;
}

.connector-title {
  display: flex;
  flex-direction: row;
  align-items: left;
  font-size: 20px;
}

.lookup-title {
  padding-top: 12px;
  display: flex;
  flex-direction: row;
  align-items: left;
  font-size: 20px;
  padding-bottom: 9px;
}

.top6 {
  padding-top: 6px;
}

.right9 {
  padding-right: 9px;
}

.headers-align .mat-expansion-panel-header-title,
.headers-align .mat-expansion-panel-header-description {
  flex: auto;
  align-items: center;
}

.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.hand {
  cursor: pointer;
}

.menu-label {
  color: #959595;
}

.content {
  background: white;
}