@import './form369';
// @import './quill.snow';
@import "~@angular/material/theming";
@include mat-core();

$angular-primary: mat-palette($mat-light-blue, 300, 100, 900);
$angular-accent: mat-palette($mat-light-green, 300, 100, 400);
$angular-warn: mat-palette($mat-orange, 300);
$angular-default-theme: mat-light-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);
@include angular-material-theme($angular-default-theme);

$angular-dark-theme: mat-dark-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);
.darkMode {
  @import './quill.dark'; // altered to include dark mode
  @include angular-material-color($angular-dark-theme);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "~@angular/cdk/overlay-prebuilt.css";
